extends base.pug

block content
  p Hello and welcome to my api.
  p
    | Available routes and documentation 
    a(href='https://www.w3schools.com') here
  br
  p
    | Find more of what I do in 
    a(href='https://www.michelcruz.me/') michelcruz.me
