extends base.pug

block content
  p Hello and welcome to my api.
  p
    | Available routes and documentation 
    a(href='https://documenter.getpostman.com/view/18679566/VVQcyPWz', target="_blank") here
  br
  p
    | Find more of what I do in 
    a(href='https://www.michelcruz.me/', target="_blank") michelcruz.me
