extends base

block emailContent
  div(style='color:#878787;direction:ltr;font-family:Poppins, Arial, Helvetica, sans-serif;font-size:16px;font-weight:400;letter-spacing:0px;line-height:120%;text-align:justify;mso-line-height-alt:19.2px;')
    p Hi 👋 #{username},
    p(style='margin: 0;') Your account was successfully created with the following email: #{email}
